*/Build
*/Binaries
*/Intermediate
*/DerivedDataChache
*/Saved
BuildingEscape/Content/StarterContent/

BuildingEscape/.vs/BuildingEscape/v15/Browse.VC.db
BuildingEscape/.vs/BuildingEscape/v15/Solution.VC.db
